.bundle
db/*.sqlite3
log/*.log
tmp/
.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/readabilify.iml
.idea/vcs.xml
.idea/workspace.xml
public/javascripts/.DS_Store
.DS_Store
tags
public/images/types.psd