html, body {
  height: 100%;
}

h1 { 
  font-size: 45pt; 
  margin: 10px; 
  font-weight: bold; 
} h2 {
  font-size: 20pt;
  margin: 8px; 
  
} h3 {
  font-size: 18pt; 
  margin: 5px;
} h4 {
  font-size: 15pt;
}


.red {
   color: #741f1c;
}

a {
  color: #741f1c;
  text-decoration: none; 
}

h3.subtitle {
  margin-bottom: 40px; 
}

body {
	text-align: center;
	background-color: #f8f8f5;
	font-family: "minion-pro-1","minion-pro-2", Georgia, "Times New Roman", Times, serif; 
}

.content {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
	height: auto !important;
  height: 100%;
  margin-bottom: -41px;
}

.copy {
  padding-top: 20px;
}
.copy p {
	display: block; 
	margin: 20px auto 40px;
	width: 700px;
  text-align: center;
}

.copy .box {
  vertical-align: top;
  min-height: 120px;
  display: inline-block;
  width: 35%;
  padding: 10px;

  position: relative;
}

.copy .arrow {
  position: relative;
  z-index: 10;
  margin: 125px -10px 0 -10px;
  opacity: 0.6;
  
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;  
  -o-transition: all 0.3s ease;   
  transition: all 0.3s ease;  
}
.copy img:hover {
  opacity: 1.0;
}


.copy .box .title {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 25px;
  display: block;
}

#header, #footer {
  background-color: #fff; 
  padding: 10px 20px;
  position: relative;
  font-size: 10pt;
  line-height: 15px;
  
  -moz-box-shadow:0px 0px 4px #ddd;
  -webkit-box-shadow:0px 0px 4px #ddd;
  box-shadow:0px 0px 4px #ddd;
}
#header {
  border-bottom: 1px solid #ddd;
  height: 15px;
}
#header .blurb { 
	float: left;
}
#header .access {
	float: right;
}

#footer {
  border-top: 1px solid #ddd;
  text-align: center;
  height: 20px;
  line-height: 20px;
}  
.push {
  height: 41px;
}
#footer .blurb {
  float:left;
}
#footer .links {
  float: right;
}
#footer .links a {
  opacity: 0.5;
  margin: 0 2px;

  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;  
  -o-transition: all 0.3s ease;   
  transition: all 0.3s ease;  
}
#footer .links a:hover {
  opacity: 0.8;
}

table.article-list {
  width: 800px;
  min-width: 800px;
}
table.article-list thead {
	background-color: #fff;
	border: 1px #ddd solid;
}

table.article-list tr { 
  text-align: left; 
}

table.article-list th,
table.article-list td {
  padding: 10px; 
}
table.article-list td.links {
	width: 200px;
}

table.article-list td.links a, .button {
  padding: 2px 8px;
  font-size: 8pt; 
  border: 1px #ddd solid;
  margin-left: 10px;
  
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  
  background: #fff;
  background: -moz-linear-gradient(bottom, #fff, #eee);
  background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#eee));
  background: -o-linear-gradient(bottom, #fff, #eee);
  background: linear-gradient(bottom, #fff, #eee);
  
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;  
  -o-transition: all 0.3s ease;   
  transition: all 0.3s ease;
}
.button.large {
  font-size: 12pt;
  padding: 12px 20px;
}
.login.button {
	display: inline-block;
	height: 75px;
	width: 220px;
	line-height: 70px;
	margin: 10px;
}
.login img { 
	vertical-align: middle;
}

.login-text.special {
line-height: 12pt;
font-size: 12pt;
padding: 0;
margin-bottom: -20px;
margin-top: 12px;
color: #000;
}

.filter .button { 
  padding: 4px 12px 6px; 
}

table.article-list td.links a:hover, .button:hover {
  background: #eee;
}

table.article-list td.links a:active, .button:active {
  background: #ddd;
}
table.article-list .filter-show { 
  text-align: right; 
}

.result-group { 
  margin: 20px auto; 
  position: relative;
  width: 800px;
}

.filter {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd; 
	right: 0;
	top: 40px;
	width: 150px;
} 
.filter ul { 
  margin: 20px 0 5px; 
}
.filter li { 
  text-align: left; 
  list-style-type: none; 
}
.filter .button {
	margin: 0;
}

.pagination {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}
.pagination .first, .pagination .last {
  display: none;
}
#mass-convert {
  margin-top: 12px;
}
#mass-convert a {

  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
#generating img {
  margin-bottom: -6px;
  padding-top: 10px;
}

