<footer>
  <div id="footer">
    <div class='blurb'>
      Created by <a href="http://hungerandthirstdesign.com">HungerAndThirstDesign</a>
    </div>
    <div class="links">
      <%= link_to image_tag('twitter.png'), 'http://twitter.com/plukevdh', title: "Twitter" %>
      <%= link_to image_tag('github.png'), 'https://github.com/plukevdh', title: "Github" %>
      <%= link_to image_tag('forrst.png'), 'http://forrst.me/plukevdh', title: "Forrst" %>
      <%= link_to image_tag('tumblr.png'), 'http://blog.hungerandthirstdesign.com', title: "Blog" %>
    </div>
  </div>
</footer>


