<header>
  <div id="header">
    <div class="blurb">Readabilify - Powered and Empowering <a href="http://readability.com" class="red">Readability</a></div>
    <div class="access">
      <% if !readabilified? %>
        <%= link_to "Link", new_readability_session_path %>
      <% else %>
        <%= link_to "Unlink", readability_session_path, method: :delete %>
      <% end %>
      Readability
    </div>
  </div>
</header>
